<div class="container">
	<div class="row">
		<div class="md-col-12">
			<form action="#/grilla">
				<div class="row"><div class="sm-col-2"><label>Nuevo Personaje</label></div></div>
				<br>
				<div class="row">
					<label for="inputEmail3" class="col-sm-1">Nombre</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="ingrese el nombre"></input>
					</div>
					<div class="col-sm-6"></div>
				</div>
				<br>
				<div class="row"><div class="md-col-1"><div class="dropdown pull-left" style="margin-left:5px;">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Temporada
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
					</ul>
				</div>
			</div>
		</div>
		<br>
		<div class="row"><div class="md-col-1"><div class="dropdown pull-left" style="margin-left:5px;">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Capitulo
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
			</ul>
		</div></div></div> 
		<div class="row"><div class="md-col-1"><button class="btn btn-default pull-right" type="submit">Agregar Personaje</button></div></div>	
	</form>
</div>
</div>
</div>


