<div class="container">
	<div class="row">
		<div class="md-col-12">
			<form action="#/grilla">
				<div class="row"><div class="sm-col-2"><label>Nuevo Personaje</label></div></div>
				<br>
				<div class="row">
					<label for="inputEmail3" class="col-sm-1">Name</label>
					<div class="col-sm-5">
						<input ng-model="firstName" type="text" class="form-control" placeholder="Enter Name"></input>
					</div>
					<div class="col-sm-6"></div>
				</div>

				<br>
				<div class="row">
					<label for="inputEmail3" class="col-sm-1">Last Name</label>
					<div class="col-sm-5">
						<input ng-model="lastName" type="text" class="form-control" placeholder="Enter Last Name"></input>
					</div>
					<div class="col-sm-6"></div>
				</div>
				<div class="row">

					<div class="md-col-1">
						<div class="dropdown pull-left" style="margin-left:5px;">
							<select ng-model="temporada"></select>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="md-col-1">
						<div class="dropdown pull-left" style="margin-left:5px;">
							<select ng-model="capitulo"></select>
						</div>
					</div>
				</div> 
				<div class="row"><div class="md-col-1"><button ng-click="insertCharacters()" class="btn btn-default pull-right" type="submit">Agregar Personaje</button></div></div>	
			</form>
		</div>
	</div>
</div>


